@import '/src/scss/colors';
@import '/src/scss/mixins/text';
@import '/src/scss/sizes';

.footer-section {
  align-items: center;
  background: $alabaster;
  bottom: 0%;
  display: flex;
  justify-content: space-between;
  padding: 24px 32px;
  position: absolute;
  width: $full-size;

  .elements-container {
    border-right: 1px solid $black-border-footer;
    display: flex;
    padding: 0 16px;
  }

  .floating-images {
    background-repeat: no-repeat;
    position: absolute;
    top: -50px;
  }

  .rick-and-mortimer-running {
    background: url('/assets/images/svg/rick-and-mortimer-running300x167.svg');
    height: 96px;
    left: 730px;
    width: 174px;
  }

  .space-cruiser {
    background: url('/assets/images/svg/space-cruiser.svg');
    height: 112px;
    left: 930px;
    width: 213px;
  }

  .linked-in {
    background: url('/assets/images/svg/linked-in-logo.svg');
  }

  .suit-case {
    background: url('/assets/images/svg/suit-case.svg');
  }

  .accenture-logo {
    background: url('/assets/images/svg/accenture-logo.svg');
    height: 27px;
    width: 105px;
  }

  .logo-wolox {
    background: url('/assets/images/svg/wolox-logo.svg');
    height: 24px;
    width: 86px;
  }

  .social-icon {
    height: 16px;
    width: 16px;
  }

  .social-text {
    @include text-medium();
    @include text-sm();
    color: $cod-gray;
    height: 17px;
    padding: 0 8px;
    text-decoration-line: underline;
    width: 160px;
  }

  .social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 26px;
  }

  .left-section {
    display: flex;
  }
}
