<section class="footer-section">
  <div class="left-section">
    <div class="elements-container">
      <span class="logo-wolox"></span>
    </div>
    <div class="elements-container">
      <div class="social-media">
        <span class="linked-in social-icon"></span>
        <span class="social-text">Conecta con nostros</span>
      </div>
    </div>
    <div class="social-media">
      <span class="suit-case social-icon"></span>
      <span class="social-text">Únete a nuestro equipo</span>
    </div>
  </div>
  <span class="rick-and-mortimer-running floating-images"></span>
  <span class="space-cruiser floating-images"></span>
  <span class="accenture-logo"></span>
</section>
