@import '/src/scss/colors';

.main-page {
  min-height: 90vh;

  .header {
    align-items: center;
    background-color: $white;
    display: flex;
    height: 20vh;
    justify-content: center;

    .header-img {
      height: 100px;
      position: absolute;
      width: 280px;
    }
  }

  .presentation {
    align-items: center;
    background-image:
      linear-gradient(to bottom, $pear-rgba, $cerulean),
      url('/assets/images/main-presentation-background.png');
    background-position: 10% 25%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 20vh;
    justify-content: center;

    .title {
      color: $white;
      font-size: 26px;
      font-weight: 700;
      line-height: 39px;
      text-align: center;
      text-shadow: 0px 2px 4px $black;
    }
  }

  .input {
    margin: -50px auto;
    margin-bottom: 15px;
    max-width: 1165px;
    min-width: 585px;
    width: 80%;

    &::before {
      background: url('/assets/images/main-background.png');
      background-repeat: no-repeat;
      background-size: cover;
      bottom: 0px;
      content: '';
      left: 0px;
      opacity: 0.15;
      position: absolute;
      right: 0px;
      top: 40vh;
    }

    .results {
      display: flex;
      flex-direction: column;

      .search-button {
        margin: 0 auto;
      }
    }
  }
}
