<div class="main-page">
  <header class="header">Header here!</header>
  <section class="presentation">
    <h1 class="title">Encuentra a tu personaje favorito</h1>
  </section>
  <section class="input">
    <app-big-input 
      (onInputChange)="handleInputChange($event)"
      (onGenderSelectorChange)="handleGenderChange($event)"
      (onSpecieSelectorChange)="handleSpecieChange($event)"
    ></app-big-input>
    <ng-container *ngIf="charactersList.length > 0">
      <app-result-list [characters]="charactersList"></app-result-list>
    </ng-container>
  </section>
</div>
