<div class="main-page">
  <header class="header">
    <img
      class="header-img"
      src="/assets/images/svg/rick-and-morty-the-browser.svg"
      alt="rick-and-morty-the-browser"
    />
  </header>
  <section class="presentation">
    <h1 class="title">Encuentra a tu personaje favorito</h1>
  </section>
  <section class="input">
    <app-big-input
      (onInputChange)="handleInputChange($event)"
      (onGenderSelectorChange)="handleGenderChange($event)"
      (onSpecieSelectorChange)="handleSpecieChange($event)"
    ></app-big-input>
    <div class="results">
      <app-result-list [characters]="charactersList"></app-result-list>
      <app-button
        class="search-button"
        content="Buscar resultados"
        [badge]="characterResultCounter"
      ></app-button>
    </div>
  </section>
</div>
