@mixin text-sm {
  font-size: 11px;
  letter-spacing: 0.04em;
  line-height: 16px;
}

@mixin text-normal {
  font-size: 14px;
  letter-spacing: 0.04em;
  line-height: 21px;
}

@mixin text-md {
  font-size: 18px;
  letter-spacing: 0.04em;
  line-height: 27px;
}

@mixin text-regular {
  font-weight: 400;
}

@mixin text-medium {
  font-weight: 500;
}

@mixin text-bold {
  font-weight: 700;
}

@mixin text-extra-bold {
  font-weight: 900;
}
