<div class="container">
  <input 
    class="input" 
    type="search"
    [ngStyle]="{'padding-right': addFiltersSelectors ? '47%' : '28px' }"
    [placeholder]="inputPlaceholder"
    [formControl]="searchControl" 
  />
  <ng-container *ngIf="addFiltersSelectors">
    <select 
      class="specie" 
      [formControl]="specieFormControl" 
      (change)="onChangeSpecie()"
    >
      <option disabled value="">Especie</option>
      <option>Todas</option>
      <option 
        *ngFor="let specie of speciesList | keyvalue"
        [value]="specie.value"
      >
        {{specie.key}}
      </option>
    </select>
    <select 
      class="gender"
      [formControl]="genderFormControl" 
      (change)="onChangeGender()"
    >
      <option disabled value="">Género</option>
      <option>Todos</option>
      <option 
        *ngFor="let gender of genderList | keyvalue"
        [value]="gender.value"
      >
      {{gender.key}}
    </option>
    </select>
  </ng-container>
</div>
