$wolox-blue: #3BB5CC;
$disabled: #DADADA;
$pear: #B2DF27;
$lightgray: #D3D3D3;
$crimson: #C7122A;
$cerulean: #00B5CC;
$white: #FFF;
$mineshaft: #333;
$gallery: #F0F0F0;

$shakespeare: rgba(59, 181, 204, 0.25);
