// Write here variable colors using name convention in https://chir.ag/projects/name-that-color/
$wolox-blue: #3BB5CC;
$disabled: #DADADA;
$pear: #B2DF27;
$lightgray: #D3D3D3;
$crimson: #C7122A;
$cerulean: #00B5CC;
$white: #FFF;
$mineshaft: #333;
$gallery: #F0F0F0;
$shakespeare: rgba(59, 181, 204, 0.25);
$concrete: #F2F2F2;
$dusty-gray: #999999;
$black: #000;
$alabaster: #F7F7F7;
$black-border-footer: #00000040;
$cod-gray: #1C1C1C;
$alto: #DBDBDB;
