$regular-border: 2px;
$regular-spacing: 20px;
$extra-spacing: 24px;
$extra-radius: 120px;


$small-font: 15px;
$small-font-height: 18px;
$regular-font: 15px;
$regular-font-height: 18px;

$full-size: 100%;
$quarter: 25%;
