<div class="container">
  <div class="accordion" *ngFor="let panel of panels; let i = index">
    <div class="header" (click)="togglePanel(i)">
      <span class="title">{{ panel.title }}</span>
      <i class="icon" [class.rotate]="panel.toggle"></i>
    </div>
    <div [class]="panel.toggle ? 'content' : 'hidden'">
      <app-button 
        [content]="button"
        size="small"
        *ngFor="let button of panel.content"
        (action)="selectUnselectFilter(panel.filterKey, button)"
      >
      </app-button>
    </div>
  </div>
</div>
