@import '/src/scss/colors';

.container {
  margin-top: 20px;
  width: 100%;

  .accordion {
    border-bottom: 1px solid $concrete;
    margin: 10px 60px;
    padding-bottom: 10px;

    .header {
      color: $dusty-gray;
      cursor: pointer;
      display: flex;
      font-size: 14px;
      font-weight: 400;
      justify-content: space-between;

      .icon {
        background-image: url('/assets/images/png/up-arrow.png');
        background-repeat: no-repeat;
        background-size: contain;
        height: 15px;
        margin-left: 80px;
        transition: transform 0.2s ease-in-out;
        width: 15px;
      }

      .rotate {
        transform: rotate(-180deg);
      }
    }

    .content {
      margin: 0;
      padding: 10px;
    }
  }
}
