@import '/src/scss/colors';
@import '/src/scss/mixins/text';

.search-result-header {
  border-bottom: 1px solid $alto;
  display: flex;
  gap: 20px;
  padding: 0 60px;

  .app-logo {
    cursor: pointer;
  }

  .input-filter {
    display: inline-block;
    width: 540px;
  }
}

.search-result-container {
  display: flex;
  gap: 20px;
  padding: 20px;

  .search-result-nav {
    max-width: 260px;
    width: 100%;
  }

  .character-list-container {
    display: flex;
    flex-flow: column nowrap;
    gap: 16px;

    .flex-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .select {
      margin: auto 10px;
      padding: 5px 16px;
      background: $white;
      border: 1px solid $cerulean;
      border-radius: 100px;
      color: $dusty-gray;
      -webkit-appearance: auto;
    }

    .result-text-right {
      @include text-md;
      color: $emperorApprox;
    }

    .result-text-left {
      @include text-normal;
      color: $dusty-gray;
    }

    .tags-container {
      display: flex;
      gap: 10px;
    }

    .character-list {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      margin-bottom: 20px;
      width: 100%;
    }

    .paginator {
      margin: 0 auto;
    }

  }
}
