@import '/src/scss/colors';

.search-result-header {
  border-bottom: 1px solid $alto;
  display: flex;
  gap: 20px;
  padding: 0 60px;

  .app-logo {
    cursor: pointer;
  }

  .input-filter {
    display: inline-block;
    width: 540px;
  }  
}

.search-result-container {
  display: flex;
  gap: 20px;
  padding: 20px;

  .search-result-nav {
    max-width: 260px;
    width: 100%;
  }

  .character-list-container {
    display: flex;
    flex-flow: column nowrap;
    gap: 16px;

    .tags-container {
      display: flex;
      gap: 10px;
    }
  
    .character-list{
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      margin-bottom: 20px;
      width: 100%;
    }

    .paginator {
      margin: 0 auto;
    }
    
  }
}
